* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  gap: 50px;
  font-size: 2rem;
  background-color: darkgrey;
  padding: 10px;
}



.completed {
  text-decoration: line-through;
  opacity: 0.5;
}